@import "/src/assets/styles/variables";
@import "/src/assets/styles/mixin";

.heroContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../../../assets/images/wallpaperImagen.png");
  background-position: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  color: $textLight;
  z-index: 1;
  position: relative;
  @include style-for(mobile) {
    & > div {
      width: 60%;
      margin-right: auto;
      margin-left: 0;
    }
    background-size: 55%;
    background-position: 100%;
  }

  & img {
    z-index: 1;
    width: 44px;
    height: 44px;
    animation: MoveLove 5s infinite;
    @keyframes MoveLove {
      50% {
        transform: rotate(-10deg);
      }
    }
  }
  & a {
    width: fit-content;
  }
  & button {
    border-radius: 12px;
  }
}
