$lightBlue: #95d5fa;
$lightGreen: #27ef65;
$orange: #db995d;
$darkOrange: #ef6b52;
$brown: #52332a;
$lightBrown: #7a744a;
$pink: #ffdefa;
$backgroundColor: #f4efec;
$backgroundColorWithe: #ffffff;
$textLight: #133642;

$primary: $darkOrange;
$secundary: $lightGreen;

$fontDreaming: "Dreaming Outloud Regular";
$fontAristotelicaExtraLight: "Aristotelica Pro Extralight";

$fontAristotelicaRegular: "Aristotelica Regular";
